STIRLING_PDF_IP_ADDRESS=
EXTERNAL_NETWORK_NAME=

#OPTIONAL VARIABLES

#Optionally specify the version of Stirling PDF to use
STIRLING_CONFIG_FOLDER=
STIRLING_LOGS_FOLDER=
STIRLING_PIPELINE_FOLDER=
TESSERACT_OCR_DATA_FOLDER=